body {
    background-size: auto;
}

.navbar {
    display: flex;
    flex-direction: row;
    background-color: #f1efe7;
    align-items: center;

}

.navlinks {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

li {
    display:flex;
	width:120px;
	float:left;
	margin-left:2px;
    list-style: none;
    font-family: 'League Spartan', sans-serif;
}

.logo {
    height: 10%;
    width: 10%;
}

a:visited, a:active, a:link {
    color: brown;
    text-decoration: none;
}